{% extends 'base.html' %}

{% block title %}Korisnik - Prijava{% endblock %}

{% block content%}


 <nav class="navbar navbar-expand-sm bg-transparent navbar-transparent" style="color: #008ae6;">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mynav-link" href="#" id="navbardrop" data-toggle="dropdown">
          Korisnik
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{url_for('Admin_Login')}}">Administrator</a>
        </div>
      </li>
    </ul>
  </nav>

<div class="container">
  <div class="row justify-content-center my-5 py-5">
    <div class="col-lg-6 col-xs-12">
      <form action="{{url_for('Login')}}" method="POST">
        <div class="form-group">
          <label for="Username">Korisničko ime</label>
          <input type="text" class="form-control" name="korisnicko_ime" id="korisnicko_ime" required>
        </div>
        <div class="form-group">
          <label for="name">Lozinka</label>
          <input type="password" class="form-control" name="lozinka" id="lozinka" required>
        </div>
        <center><input type="submit" class="btn btn-primary text-white btn-prikazi" value="Prijavi se" style=" width: 150px; font-size: 18px;"/></center>
      </form>
      <br/>
      {%with messages = get_flashed_messages()%}
      {%if messages%}
      {% for message in messages %}
      <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label ="close">
              <span aria-hidden="true">&times;</span>
          </button>
          {{message}}
      </div>
      {%endfor%}
      {%endif%}
      {%endwith%}
    </div>
  </div>
</div>

{% endblock %}