{% extends 'base.html' %}

{% block title %}Prikaz pitanja - Tehničar drumskog saobraćaja{% endblock %}

{% block content%}

<div id="exportContent">
    <center><h3>TЕСТ ЗНАЊА И ВЕШТИНА ИЗ ПРЕДМЕТА РЕГУЛИСАЊЕ<br/>САОБРАЋАЈА, МОТОРИ И МОТОРНА ВОЗИЛА И<br/> ПРАКТИЧНА НАСТАВА</h3></center>
    <ol type="1" class="text-left my-3">
        {% for pitanja in pitanja %}
        <li style="margin-top: 10px;">{{pitanja.text_pitanja}}
            <ul style="list-style-type: none;">
                а) {{pitanja.odgovor_jedan}}<br/>
                б) {{pitanja.odgovor_dva}}<br/>
                в) {{pitanja.odgovor_tri}}
            </ul>
        </li>
    
        {% endfor %}
    </ol>
</div>
    <center><a type="button" class="btn btn-primary text-white btn-prikazi" onclick="Export2Doc('exportContent', 'TDS_pitanja');" style=" width: 220px; font-size: 18px;">Konvertuj u Word fajl</a></center><br/><br/>



{% endblock %}